$brand_800: hsl(163 88% 20%);
$brand_500: hsl(160 84% 39%);
$brand_400: hsl(158 64% 52%);

$weak_shadow: hsla(0 0% 0% / 0.25);
$shadow: hsla(0 0% 0% / 0.5);
$dark: hsl(0, 1%, 14%);
$white: hsl(0 0% 100%);

$test: hsl(0 100% 50%);
