$xxs: 0.5rem;
$xs: 0.75rem;
$sm: 0.875rem;
$base: 1rem;
$lg: 1.125rem;
$xl: 1.25rem;
$xl_2: 1.5rem;
$xl_3: 1.875rem;
$xl_4: 2.25rem;
$xl_5: 3rem;
$xl_6: 3.75rem;
$xl_7: 4.5rem;
$xl_8: 6rem;
$xl_9: 8rem;
$xl_10: 10rem;
